{% extends 'base.html' %}
{% block content %}
<p class='text-center text-muted'>Encontramos {{ result_counter }} artigo(s) que corresponde(m) com a sua pesquisa.</p>
{% for result in results %}
<div class="container w-50 hx-auto">
    <a href="article_detail/{{ articles.id }}" style="text-decoration: none; color: black;">
<div class="card" style="width: 600px;">
    <img class="card-img-top" src="/{{MEDIA_URL}}{{result.image}}">
    <div class="card-body">
        <h3 class="card-title">{{ result.title }}</h3>
        <div class="card-text">
            <h5>{{ result.headline }}</h5>
            <p class="text-muted">{{ result.pub_date }}</p>
            
            
        </div>
    </div>
</div>
    </a>
</div>
<br>
{% endfor %}
{% endblock %}